/* CTCEX Styles */ 

/* CTCEX Events */
table.ctcex-events-list {
	margin: 0 auto;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
}
table.ctcex-events-list th { 
	font-weight: bold; 
	border-bottom: 1px solid #555;
}
table.ctcex-events-list td, th { padding: 10px; }
/* table.ctcex-events-list tr:nth-child(odd) { background: #fff; } */
/* table.ctcex-events-list tr:nth-child(even) { background: #eee; } */
@media screen and (max-width: 600px){
	table.ctcex-events-list thead { display:none }
	table.ctcex-events-list td{ display: block; }
	/* table.ctcex-events-list tr{ background: #fff } */
	table.ctcex-events-list td:last-child { border-bottom: 1px solid #555; } 
	table.ctcex-events-list tbody td:before{
		content: attr(data-th);
		font-weight: bold;
		display: inline-block;
		width: 6rem;
	}
}

/* CTCEX People */
.ctcex-people-list.no-slider {
	margin: 0 0 1.5 em 0;
	overflow:hidden;
}
.ctcex-people-list.no-slider  > .ctcex-person-container {
	display: block;
	float: left;
	width: 30%;
	width: calc( 100% - 80px ) / 3;
}
.ctcex-people-list.no-slider > .ctcex-person-container:nth-of-type(1),
.ctcex-people-list.no-slider > .ctcex-person-container:nth-of-type(3n+1) {
	clear: left;
	margin-right: 40px;
}
.ctcex-people-list.no-slider > .ctcex-person-container:nth-of-type(3n) {
	margin-left: 40px;
}
.ctcex-person-img {
  max-width: 90%;
  margin: 5px auto;
  max-height: 250px;
  height: auto;
  border-radius: 5px;
}
.ctcex-person-details {
	text-align: center;
}
h2.ctcex-person-title {
	margin-bottom: 0.5em;
	line-height: 1em;
	text-align: center;
}
h3.ctcex-person-position{
	margin: 0.25em auto;
	text-align: center;
}

/* Hidden */
.ctcex-hidden,
.ctcex-hidden .ctcex-person-img {
	height:1px !important;
	overflow:hidden !important;
	display: none;
	visibility: hidden;
}


/* Slick Slider */
.ctcex-slider {
  width: 100%;
  margin: 50px auto;
}
.ctcex-slider .slick-slide {
  width: 200px;
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 10px;
  height: auto;
  min-height:1px;
  margin: 0 5px;
  transition: all ease 1s;
}
.ctcex-slider .slick-track {
  display: flex;
}

/* Slick Navigation */
.slick-arrow{
  cursor: pointer;
  opacity: 0.1;
  position:absolute;
  top:0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  color: white;
  transition: all ease 0.5s;
  font-size: 25px;
}
.slick-prev{
  left: 0;
  z-index: 10;
	border-radius: 5px 0 0 5px;
}
.slick-next{
  right: 0;
  z-index: 10;
	border-radius: 0 5px 5px 0;
}
.slick-arrow:hover{
  opacity: 1.0;
  background: rgba(0,0,0,0.5);
}

/* Genericons fix */
.ctcex-event-details .genericon{
	font-size: 1.2em;
	vertical-align: middle;
}

/* Socials */
.ctcex-socials ul{
	list-style: none;
	display: block;
}
.ctcex-socials ul li{
	display: inline;
}
.ctcex-socials li a[href*='wordpress.org'],
.ctcex-socials li a[href*='facebook.com'],
.ctcex-socials li a[href*='twitter.com'],
.ctcex-socials li a[href*='plus.google.com'],
.ctcex-socials li a[href*='pinterest.com'],
.ctcex-socials li a[href*='tumblr.com'],
.ctcex-socials li a[href*='youtube.com'],
.ctcex-socials li a[href*='flickr.com'],
.ctcex-socials li a[href*='vimeo.com'],
.ctcex-socials li a[href*='instagram.com'],
.ctcex-socials li a[href*='linkedin.com'],
.ctcex-socials li a[href*='foursquare.com'],
.ctcex-socials li a[href*='mailto'] {
	display: inline-block;
	height: 32px;
	margin-right: 5px;
	overflow: hidden;
	vertical-align: middle; 
	width: 32px;
}

.ctcex-socials li a[href*='wordpress.org']::before,
.ctcex-socials li a[href*='facebook.com']::before,
.ctcex-socials li a[href*='twitter.com']::before,
.ctcex-socials li a[href*='plus.google.com']::before,
.ctcex-socials li a[href*='pinterest.com']::before,
.ctcex-socials li a[href*='tumblr.com']::before,
.ctcex-socials li a[href*='youtube.com']::before,
.ctcex-socials li a[href*='flickr.com']::before,
.ctcex-socials li a[href*='vimeo.com']::before,
.ctcex-socials li a[href*='instagram.com']::before,
.ctcex-socials li a[href*='linkedin.com']::before,
.ctcex-socials li a[href*='mailto']::before {
	background: #2d2a26;
	border: 2px solid #e9d5c0;
	border-radius: 50%;
	color: #e9d5c0;
	display: inline-block;
	display: block;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 32px;
	line-height: 1;
	line-height: 1;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	transition: 0.2s all ease-in-out;
	vertical-align: text-bottom;
	width: 32px; 

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
.ctcex-socials li a[href*='wordpress.org']:hover::before,
.ctcex-socials li a[href*='facebook.com']:hover::before,
.ctcex-socials li a[href*='twitter.com']:hover::before,
.ctcex-socials li a[href*='plus.google.com']:hover::before,
.ctcex-socials li a[href*='pinterest.com']:hover::before,
.ctcex-socials li a[href*='tumblr.com']:hover::before,
.ctcex-socials li a[href*='youtube.com']:hover::before,
.ctcex-socials li a[href*='flickr.com']:hover::before,
.ctcex-socials li a[href*='vimeo.com']:hover::before,
.ctcex-socials li a[href*='instagram.com']:hover::before,
.ctcex-socials li a[href*='linkedin.com']:hover::before,
.ctcex-socials li a[href*='mailto']:hover::before {
	background: #e9d5c0;
	border-color: #2d2a26;
	color: #2d2a26;
}
.ctcex-socials li a[href*='wordpress.org']::before,
.ctcex-socials li a[href*='facebook.com']::after,
.ctcex-socials li a[href*='twitter.com']::after,
.ctcex-socials li a[href*='plus.google.com']::after,
.ctcex-socials li a[href*='pinterest.com']::after,
.ctcex-socials li a[href*='tumblr.com']::after,
.ctcex-socials li a[href*='youtube.com']::after,
.ctcex-socials li a[href*='flickr.com']::after,
.ctcex-socials li a[href*='vimeo.com']::after,
.ctcex-socials li a[href*='instagram.com']::after,
.ctcex-socials li a[href*='linkedin.com']::after,
.ctcex-socials li a[href*='mailto']::after {
	display: none;
}

/* FontAwesome Socials */
.fa.ctcex-socials li a[href*='wordpress.org']::before,
.fa.ctcex-socials li a[href*='facebook.com']::before,
.fa.ctcex-socials li a[href*='twitter.com']::before,
.fa.ctcex-socials li a[href*='plus.google.com']::before,
.fa.ctcex-socials li a[href*='pinterest.com']::before,
.fa.ctcex-socials li a[href*='tumblr.com']::before,
.fa.ctcex-socials li a[href*='youtube.com']::before,
.fa.ctcex-socials li a[href*='flickr.com']::before,
.fa.ctcex-socials li a[href*='vimeo.com']::before,
.fa.ctcex-socials li a[href*='instagram.com']::before,
.fa.ctcex-socials li a[href*='linkedin.com']::before,
.fa.ctcex-socials li a[href*='mailto']::before {
	font-family: FontAwesome;
	font-family: Genericons;
}
.fa.ctcex-socials li a[href*='wordpress.org']:before { content: '\f19a'; }
.fa.ctcex-socials li a[href*='facebook.com']:before { content: '\f082'; }
.fa.ctcex-socials li a[href*='twitter.com']:before { content: '\f081'; }
.fa.ctcex-socials li a[href*='plus.google.com']:before { content: '\f0d4'; }
.fa.ctcex-socials li a[href*='pinterest.com']:before { content: '\f209'; }
.fa.ctcex-socials li a[href*='tumblr.com']:before { content: '\f174'; }
.fa.ctcex-socials li a[href*='youtube.com']:before { content: '\f166'; }
.fa.ctcex-socials li a[href*='flickr.com']:before { content: '\f16e'; }
.fa.ctcex-socials li a[href*='vimeo.com']:before { content: '\f194'; }
.fa.ctcex-socials li a[href*='instagram.com']:before { content: '\f16d'; }
.fa.ctcex-socials li a[href*='linkedin.com']:before { content: '\f08c'; }
.fa.ctcex-socials li a[href*='mailto']:before { content: '\f0e0'; }

/* Genericons Socials */
.gi.ctcex-socials li a[href*='wordpress.org']::before,
.gi.ctcex-socials li a[href*='facebook.com']::before,
.gi.ctcex-socials li a[href*='twitter.com']::before,
.gi.ctcex-socials li a[href*='plus.google.com']::before,
.gi.ctcex-socials li a[href*='pinterest.com']::before,
.gi.ctcex-socials li a[href*='tumblr.com']::before,
.gi.ctcex-socials li a[href*='youtube.com']::before,
.gi.ctcex-socials li a[href*='flickr.com']::before,
.gi.ctcex-socials li a[href*='vimeo.com']::before,
.gi.ctcex-socials li a[href*='instagram.com']::before,
.gi.ctcex-socials li a[href*='linkedin.com']::before,
.gi.ctcex-socials li a[href*='mailto']::before {
	font-family: Genericons;
}
.gi.ctcex-socials li a[href*='wordpress.org']:before { content: '\f205'; }
.gi.ctcex-socials li a[href*='facebook.com']:before { content: '\f204'; }
.gi.ctcex-socials li a[href*='twitter.com']:before { content: '\f202'; }
.gi.ctcex-socials li a[href*='plus.google.com']:before { content: '\f206'; }
.gi.ctcex-socials li a[href*='pinterest.com']:before { content: '\f209'; }
.gi.ctcex-socials li a[href*='tumblr.com']:before { content: '\f214'; }
.gi.ctcex-socials li a[href*='youtube.com']:before { content: '\f213'; }
.gi.ctcex-socials li a[href*='flickr.com']:before { content: '\f211'; }
.gi.ctcex-socials li a[href*='vimeo.com']:before { content: '\f212'; }
.gi.ctcex-socials li a[href*='instagram.com']:before { content: '\f215'; }
.gi.ctcex-socials li a[href*='linkedin.com']:before { content: '\f207'; }
.gi.ctcex-socials li a[href*='mailto']:before { content: '\f410'; }
